.iphone h2 {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--white-color);
}

.iphone > span {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: gray;
}

.iphone .photosss {
  margin: 5px auto;
}

.iphone .photosss .photo-one img {
  width: calc(100% - 90px);
  margin: 5px 45px 0 ;
  height: 120px;
}

.iphone .photosss .photo-two img {
  width: calc(100% - 90px);
  margin: 5px 45px 0 ;
  height: 120px;
}

.iphone .discount {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--white-color);
}
