.Netflex h2 {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--white-color);
}

.Netflex > span {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: gray;
}

.Netflex .photosss {
  display: flex;
}

.Netflex .photosss .photo-one img {
  width: calc(100% - 30px);
  margin: 5px 15px;
  height: calc(100% - 105px);
}

.Netflex .discount {
  display: flex;
  margin-top: -70px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--white-color);
}
