
.scroll-button {
    text-align: center;
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 50%;   
    color: #fff;
    cursor: pointer;
    z-index: 2000;
    WIDTH: 35PX;
    height: 35px;
  
  }